/* this file is embeded using webpack*/
body {
    background-color: #505050;
    overflow: hidden;
}

#bookmarklist {
    background-image:repeating-linear-gradient(
            45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
        );
    overflow-y: scroll;
    width: calc(100%-50px);
    height: calc(100%-25px);
    align-self: center;
}